<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ServerAddress" value="https://174.101.154.93"/>
    <add key="Port" value="1337"/>
    <add key="LoginFunction" value="/api/login"/>
    <add key="SignUpFunction" value="/api/signUp"/>
    <add key="RetrievalFunction" value="/api/entryRetrieval"/>
  </appSettings>
</configuration>